<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>registration form</h2>
<form action="/register" method="post">
    <label>FULL NAME:</label>
    <input type="text" id="fullname" name="fullname" required>
    <br></br>
    <label>USER NAME:</label>
    <input type="text" id="username" name="username" required>
        <br></br>
   <label>password:</label>
    <input type="password" id="password" name="password" required>
<br></br>
<input type="submit" value="Register">
<input type="reset" value="Reset">
</form>
</body>
</html> 